.wrapper{
  margin: 0 50px;
}
.title{
  font-size: 28px;
  color: rgb(132, 138, 134);
  text-align: center;
  text-transform: uppercase;
}
.content{
  text-align: justify;
  color: rgb(43, 43, 43);
  font-size: 18px;
}
