body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post-list {
  width: 550px;
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  margin: 50px auto 10px;
  border-radius: 10px;
}

.read-more {
  text-decoration: none;
  padding: 6px 12px;
  background: #316ad3;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
}